{% extends "base.html" %}

{% block content %}
        <div class="row">
          <style>
            .modal-content, body {background-color: black;}
.modal-footer,.modal-header {border:0;}
.modal-content {
  text-align: center;
    color: white;
}
          </style>
            <div class="col-md-12">

                <div class="modal fade"
                     id="instructions_modal"
                     tabindex="-1" 
                     data-backdrop="static" 
                     role="dialog" 
                     aria-labelledby="instructions_modal_label" 
                     aria-hidden="false"
                     style="margin-top:200px">
                     <div class="modal-dialog modal-lg">
                         <div class="modal-content">

                         <div class="modal-body" style='padding:20px'>
   
                         <h2>The experiment is completed.
    <br>
    <br>


Thank you for your participation!
<br>    <br>


You have earned £2 plus a bonus of £<span id="bonus">x</span>.

<br><br><br><a href="https://app.prolific.co/submissions/complete?cc=1FD2773C" target="_blank" style="width: 120px; height:30px; background-color: gray">Finish</a>
</h2>
                        </div>
                    </div>
                </div>
           </div>

           <button type="button" 
                   id="modalToggle"
                   class="btn btn-primary btn-lg hidden"
                   data-toggle="modal"
                   data-target="#instructions_modal" hidden></button>
           </div>
      </div>

{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    $("#modalToggle").click()
    $('#bonus').html(localStorage.bonus)
})
</script>
{% endblock %}
