{% extends "base.html" %}

{% block content %}
<style>
    body {background: black}

</style>
<img src="https://shahar-lab-exp.com/static/img/logo.png" style="
    position: absolute;
height:100px;    right: 0;
">
<h2 style="
    text-align: center;
    color: white;
    text-decoration: underline; margin-bottom: 40px;
">Learning & Memory Study
</h2>
<p style="color:white; padding: 10px">
    This study, performed by Tel Aviv university, is aimed at gaining better understanding of learning and memory processes.
</p>
<p style="color:white; padding: 10px">
    In this study we will ask you to complete a card game, followed by several questionnaires. For your participation, you will earn a minimum of £2.5, but may earn up to £5 (in total) based on your performance in the included card game. The study should take about 30min. You are free to leave at any time by pressing ‘Esc’ and closing your browser but note that payment is provided only for full participation. All data is  collected anonymously. 
    </p>
<p style="color:white; padding: 10px">
    <strong>Please note</strong> - pressing the 'Esc' key will stop your participation. You will receive partial payment only.
</p>
<p style="color:white; padding: 10px">
    Restrictions: You can only participate if you are aged 18 to 50 and are not currently diagnosed with depression, anxiety, epilepsy, learning disabilities, color blindness, or any other psychiatric or neurological disorders.
</p>
<p style="color:white; padding: 10px">
    Thank you for your participation and please feel free to contact us using Prolific platform for any question you might have.
</p>
<form action="" method="POST" name='form' style="margin-top: 30px">
    {{ form.hidden_tag() }}

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" id= "exp_ids" name="exp_ids" value="{{ EXPFACTORY_EXPERIMENTS }}"/>

    <div class="form-group" style="color: white">Polific ID:
        <input id='openid'
               type="text"
               class="form-control"
               name='openid'
               style="
    border: 1px solid #6161f7;
    max-width: 300px;
    background: black;
    color: white;
    padding: 10px;
" required>
    </div>
    <label class="form-group" style="color: white">
        <input
               type="checkbox"
               class="form-control"
               style="width: auto; height: auto; margin-right:10px; float: left;
" required>
         I have read and accept the terms mentioned above.

    </label>

    {% for error in form.openid.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}<br>

    {% for error in form.exp_ids.errors %}
    <span style="color: red;">You must select one or more experiments.</span>
    {% endfor %}<br>

    <div class="form-check" style='padding-bottom:20px; display: none'>
        <label class="form-check-label">
            {% if randomize %}
            <input id="randomize" name="randomize" type="checkbox" value="y" checked>
            {% else %}
            <input id="randomize" name="randomize" type="checkbox" value="y">
            {% endif %}
            Random Order
        </label>
    </div>

    <!-- Interactive changing of order -->
    <ul class="list-group" id="order-list">
    </ul>
    <p style="margin-top:20px"><input type="submit" class="btn" style="float: right;
    background: lightgray;
    color: black;
    border-radius: 0;" value="Launch Experiment"></p>
</form>
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function(){

    var order = 0;

    function unselect_experiment(button) {
      $(button).removeClass('experiment-selected')
      $(button).addClass('experiment-unselected');
      $(button).css('background-color', "rgba(0, 0, 0, 0.09)");
    }

    function select_experiment(button) {
      $(button).removeClass('experiment-unselected');
      $(button).addClass('experiment-selected');
      $(button).css('background-color',"#2dc330");
    }

    // When randomize selected, hide ordering
    $('#randomize').change(function(){
      if ($('#randomize:checked').length > 0) {
        $('#order-list').hide();
      } else {
        $('#order-list').show();
      }
    })

    function update_form() {

      // Update exp_ids in form with selected experiments
      var ordered = $('.experiment-selected').sort(function (a, b) {
        var contentA = parseInt( $(a).attr('data-order'));
        var contentB = parseInt( $(b).attr('data-order'));
        return (contentA < contentB) ? -1 : (contentA > contentB) ? 1 : 0;
      })

      $('#order-list').html('');

      var experiments = ""
      var total_time = 0
      $.each(ordered, function(e,i){
        new_experiment = $(i).attr('id');
        new_time = parseInt($(i).attr('data-time'),10);
        if (new_experiment != "select-button") {
          if (experiments == "") {
            experiments =  new_experiment;
          } else {
            experiments =  experiments + "," + new_experiment;
          }

          // Update the ordered list for the user
          new_listing = '<li class="list-group-item justify-content-between">' + new_experiment
          new_listing += '<span class="ordering badge badge-default badge-pill"'
          new_listing += '>' + parseInt(e+1) + '</span></li>'
          $('#order-list').append(new_listing)

          total_time = total_time + new_time;
        }
      })
      $("#exp_ids").val(experiments);
      $('.ticket-count').text(ordered.length);
      $('.total-amount').text(total_time + ' min');

    }

    $('#select-button').click(function(){
      var choices = $('.experiment-select-button');
      if ($(this).hasClass('experiment-selected')){
        unselect_experiment(this);
        unselect_experiment(choices)
      } else {
        select_experiment(this);
        select_experiment(choices)
      }
      update_form()

    });

    {% if toggleform %}
    $("#ticket-details").modal('show');
    {% endif %}

    $(".experiment-select-button").click(function(){
      if ($(this).hasClass('experiment-selected')){
        unselect_experiment(this);
        $(this).attr('data-order', 0)
        console.log('Experiment unselected, order is ' + order)
        order=order-1;
      } else {
        order = order + 1;
        $(this).attr('data-order', order)
        console.log('Experiment selected, order is ' + order)
        select_experiment(this);
      }

      update_form()
    })

    $('#openid').on('input', function() {
      localStorage.polific = $('#openid').val();
      localStorage.URL_PROLIFIC_PID = $('#openid').val();
    })
  })

if (localStorage['URL_PROLIFIC_PID']){
	$('#openid').val(localStorage['URL_PROLIFIC_PID'])
}
</script>
{% include "portal/littlepieces.html" %}
{% endblock %}

